<include src="includes/header.html" title="Starter Bootstrap" page="Home"></include>


<section>
    <div class="inner-section">
        <div class="featured-list">

            <div class="featured">
                <div class="thumbnail">
                    <figure class="figure">
                        <img src="images/lorempixel.jpg" class="image" alt="Lorem Pixel">
                    </figure>
                    <div class="caption">
                        <h3 class="title">Thumbnail</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quisquam quas quaerat nisi enim molestiae, vero voluptatum mollitia hic sunt delectus laudantium nesciunt dolor nam eaque rerum aliquam praesentium? Voluptatibus.
                        </p>
                        <p>
                            <a href="#" class="btn default" role="button">Button</a>
                            <a href="#" class="btn default" role="button">Button</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="featured">
                <div class="thumbnail">
                    <figure class="figure">
                        <img src="images/lorempixel.jpg" class="image" alt="Lorem Pixel">
                    </figure>
                    <div class="caption">
                        <h3 class="title">Thumbnail</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quisquam quas quaerat nisi enim molestiae, vero voluptatum mollitia hic sunt delectus laudantium nesciunt dolor nam eaque rerum aliquam praesentium? Voluptatibus.
                        </p>
                        <p>
                            <a href="#" class="btn default" role="button">Button</a>
                            <a href="#" class="btn default" role="button">Button</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="featured">
                <div class="thumbnail">
                    <figure class="figure">
                        <img src="images/lorempixel.jpg" class="image" alt="Lorem Pixel">
                    </figure>
                    <div class="caption">
                        <h3 class="title">Thumbnail</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quisquam quas quaerat nisi enim molestiae, vero voluptatum mollitia hic sunt delectus laudantium nesciunt dolor nam eaque rerum aliquam praesentium? Voluptatibus.
                        </p>
                        <p>
                            <a href="#" class="btn default" role="button">Button</a>
                            <a href="#" class="btn default" role="button">Button</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="featured">
                <div class="thumbnail">
                    <figure class="figure">
                        <img src="images/lorempixel.jpg" class="image" alt="Lorem Pixel">
                    </figure>
                    <div class="caption">
                        <h3 class="title">Thumbnail</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quisquam quas quaerat nisi enim molestiae, vero voluptatum mollitia hic sunt delectus laudantium nesciunt dolor nam eaque rerum aliquam praesentium? Voluptatibus.
                        </p>
                        <p>
                            <a href="#" class="btn default" role="button">Button</a>
                            <a href="#" class="btn default" role="button">Button</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<include src="includes/footer.html"></include>
