.featured-list {
    @include make-row();
    .featured {
        @include make-xs-column(12);
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
        .thumbnail {
            color: $white;
            .figure {
                padding-bottom: 75%;
                position: relative;
                overflow: hidden;
                .image {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            .caption {
                background: $darkslateblue;
                padding: 4.1700%;
                font-size: 1rem;
                .title {
                    font-size: 2rem;
                }
                .description {
                    margin: 15px auto;
                }
            }
        }
        @media (min-width: $screen-sm-min) {
            @include make-sm-column(6);
            width: $container-sm;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media (min-width: $screen-lg-min) {
            @include make-md-column(3);
            width: $container-md;
            margin-bottom: 0;
        }
    }
}
