* {
    box-shadow: none!important;
    text-shadow: none!important;

    &:focus, &:hover {
        box-shadow: none!important;
        outline: 0!important;
        text-decoration: none!important;
        text-shadow: none!important;
    }
}

html {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4;
    color: $darkslategrey;
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale!important;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 auto;
    padding: 0;
}

section {
    .inner-section {
        @include container-fixed;

        @media (min-width: $screen-sm-min) {
          width: $container-sm;
        }
        @media (min-width: $screen-md-min) {
          width: $container-md;
        }
        @media (min-width: $screen-lg-min) {
          width: $container-lg;
        }
    }
}
